    <link rel="stylesheet" href="/css/home_layout.css">
    <h1>Welcome to Codeial <%= title %></h1>

    <div class="form-container">
        <form action="" id="post-creation-form" method="post">
            <textarea name="create-post" id="create-post" cols="30" rows="3" placeholder="Enter text here...."></textarea>
            <input type="submit" value="post">
        </form>
    </div>
