<h1>Sign Up</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Please Enter Your Name" required>
    <input type="email" name="email" placeholder="Please Enter Your Email" required>
    <input type="password" name="password" placeholder="Please Enter Your Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Your Password" required>
    <button type="submit">Sign Up</button>
</form>