body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  background-color: #e6eeff; }

main {
  min-height: 70vh;
  max-width: 1000px;
  margin: 30px auto; }

a {
  color: white;
  text-decoration: none; }

nav {
  padding: 15px 60px;
  background-color: #1B5BFF;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav h1 {
    margin: 0; }
  nav ul {
    display: flex;
    list-style: none; }
    nav ul li {
      margin-left: 20px; }

footer {
  background-color: #0f0f0f;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0; }
  footer h1 {
    margin-inline: 60px; }
  footer ul {
    list-style: none;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0; }
    footer ul li {
      margin: 10px 20px; }

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px; }
  .form-container textarea {
    margin: 30px 0 20px;
    background-color: #E4E6E9;
    border: none;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 10px; }
  .form-container input[type="submit"] {
    background-color: #1B5BFF;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 50px;
    font-family: sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer; }

.posts-container {
  background-color: white;
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px; }
  .posts-container .user-details-container {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px; }
    .posts-container .user-details-container .user-details {
      display: flex;
      align-items: center;
      font-weight: bold; }
  .posts-container .profile-pic {
    background-color: #bdbdbd;
    height: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 15px; }
  .posts-container p {
    margin: 0;
    line-height: 25px; }

.post-comments {
  font-family: sans-serif; }
  .post-comments h4 {
    font-size: 20px; }
  .post-comments input[type="text"] {
    background-color: #E4E6E9;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    height: 30px;
    width: 100%;
    font-size: 16px; }
  .post-comments input[type="submit"] {
    height: 50px;
    margin-left: 30px;
    border-radius: 50px;
    border: none;
    padding: 0 60px;
    font-size: 16px;
    background-color: #1B5BFF;
    color: white;
    cursor: pointer; }
  .post-comments form {
    display: flex;
    justify-content: space-between; }
  .post-comments .comments-section {
    margin-top: 30px;
    display: flex; }
    .post-comments .comments-section .comments-container {
      background-color: #E4E6E9;
      padding: 20px 30px 30px;
      width: 100%;
      border-radius: 10px; }
      .post-comments .comments-section .comments-container .user-name {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px; }
