body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  background-color: #e6eeff; }

main {
  padding: 30px 25px;
  min-height: 100%;
  background-color: white;
  max-width: 1440px;
  margin: 30px auto; }

a {
  color: white;
  text-decoration: none; }

nav {
  padding: 15px 25px;
  background-color: #1B5BFF;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav h1 {
    margin: 0; }
  nav ul {
    display: flex;
    list-style: none; }
    nav ul li {
      margin-left: 20px; }

footer {
  background-color: #0f0f0f;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0; }
  footer h1 {
    margin-inline: 25px; }
  footer ul {
    list-style: none;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0; }
    footer ul li {
      margin: 10px 20px; }
